<h1>Reserva de Sillas</h1>
<br><br>
<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <section>
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Fecha de reserva</label>
                  <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <br>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Selecciona la silla</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <br>
                <button class="boton">Reservar silla</button>
              </form>
        </section>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
<section>
    <br><br><br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button class="btn btn-danger">Eliminar</button></td>
            <td><button class="btn btn-primary">Editar</button></td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><button class="btn btn-danger">Eliminar</button></td>
            <td><button class="btn btn-primary">Editar</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><button class="btn btn-danger">Eliminar</button></td>
            <td><button class="btn btn-primary">Editar</button></td>
          </tr>
        </tbody>
      </table>
</section>