<h1>Editar sillas</h1>
<br><br>
<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <section>
            <form>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Nombre de silla a editar</label>
                 <br>
                  <input type="text">
                </div>
                <br>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Ingrese nuevo nombre de silla</label>
                 <br>
                  <input type="text">
                </div>
                <br>
                <button class="boton">Editar Silla</button>
              </form>
        </section>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
<section>
    <br><br><br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sillas Creadas</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td><button class="btn btn-danger">Eliminar</button></td>
            <td><button class="btn btn-primary">Editar</button></td>
          </tr>
        </tbody>
      </table>
</section>
